body {
    background-color: #6db93a;
    margin: auto;
    text-align: center;
}

.header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
